mixin video(info)
    div 
        a(href=`/videos/${info.id}`)=info.title
        ul
            li #{info.rating}/5
            li #{info.comment}
            li Posted #{info.createAt}
            li #{info.view} views